:root{
    --color-white: #fff;
  }
  

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.footer ul{
    margin-right: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer li{
    margin: 0.90rem;
}

.footer a{
    color: var(--color-white) !important;
    text-decoration: none;
    font-size: 1.25rem;
}

.footer p{
    margin: 0.5rem 1rem;
    font-size: 1.25rem;
}