:root{
    --color-background: #01091cb0;
    --color-shadow: #00000040;
}

.skills{
    background-color: var(--color-background);
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;
    filter: drop-shadow(0rem 0.25rem 0.25rem var(--color-shadow));
}

.skills h1{
    font-size: 4.125rem;
    
}

.skills h3{
    margin: 1rem 0rem 3rem 0rem;
    font-size: 1.813rem;
}

.skills div{
    display: flex;
    justify-content: space-around;
    
}

.skills img{
    filter: drop-shadow(0rem 0.25rem 0.25rem var(--color-shadow));
    height: 8.75rem;
    cursor: cell;
    transition-duration: 0.9s;
}

.skills img:hover{
    transform: translatey(-0.738rem);
    transition-duration: 0.9s;
    height: 12rem;
    width: 12rem;
}